@model ProjetAppli_v1.Models.corbeillePersonnelle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>corbeillePersonnelle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.messageErreur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageErreur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.severite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.severite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePriseEnCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePriseEnCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTraitement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTraitement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detailAnomalie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detailAnomalie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
